/* CSS declarations go here */
*{
    outline: none;
}

#title{
  font-size: 1em;
}

.centerGrad{
  /* IE10 Consumer Preview */
background-image: -ms-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #000000 300%);

/* Mozilla Firefox */
background-image: -moz-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #000000 300%);

/* Opera */
background-image: -o-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #000000 300%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(radial, center center, 0, center center, 467, color-stop(0, #FFFFFF), color-stop(3, #000000));

/* Webkit (Chrome 11+) */
background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #000000 300%);

/* W3C Markup, IE10 Release Preview */
background-image: radial-gradient(circle farthest-corner at center, #FFFFFF 0%, #000000 300%);
}

.innerShadow{
  -webkit-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.49);
-moz-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.49);
box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.49);
}

.outerShadow{
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.49);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.49);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.49);
}

#main{

  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
   border:4px solid black;
  width: 100%;
  height: 100%;
  cursor: default;
  color: white;
  font-size: 1em;

  /* IE10 Consumer Preview */
background-image: -ms-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #000000 300%);

/* Mozilla Firefox */
background-image: -moz-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #000000 300%);

/* Opera */
background-image: -o-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #000000 300%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(radial, center center, 0, center center, 467, color-stop(0, #FFFFFF), color-stop(3, #000000));

/* Webkit (Chrome 11+) */
background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #000000 300%);

/* W3C Markup, IE10 Release Preview */
background-image: radial-gradient(circle farthest-corner at center, #FFFFFF 0%, #000000 300%);
}
#loginPage{
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  font-size: 1em;
}
/*#topBar{

  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
}*/
/*#topBarRight{
  display:inline-block;
  float: right;
  width: auto;
  margin: 0;
}
#topBarLeft{
  display:inline-block;
  width: 70%;
  margin: 0;
}*/
#gameSelect{
  text-align: center;
  display: inline-block;
  font-size: 1em;
  width: 100%;
  height: 100%;
}
#sideZombie{
  display: inline-block;
  height: 50%;
  width: 49%;
  border: 2px solid black;
}
#sideVampire{
  display: inline-block;
  width: 49%;
  height: 50%;
  border: 2px solid black;
}
#gamePlay{
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}
div .zombies{
  background-color: #008513;

}

div .vampires{
  background-color: #850C00;
}

.gm-style-cc { display:none; }

#map{
  display: inline-block;
  width: 96%;
  height: 80%;
  margin: 2% 0 0 0;
  border: 1px solid black;
}
.map-container {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

button.bite.zombies{


}
button.bite.vampires{

}

button.bite{
  position: relative;
  height: 100px;
  width: 100px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  vertical-align: middle;
  border: 2.5px double black;
  text-align: center;
  margin-top: -50px;
  z-index: 1000;
}

button:active{
  -ms-transform: scale(.95); /* IE 9 */
  -webkit-transform: scale(.95)); /* Safari */
  transform: scale(.95);

}

button:hover{
}
