/* CSS declarations go here */

#topBar{
  height: auto;
  width: 100%;
  background-color: black;
  color: white;
}
#topBarRight{
  display:inline-block;
  width: 30%;
}
#topBarLeft{
  display:inline-block;
  width: 70%;
}

#main{
  border:2px solid black;
  width: 100%;
  height: 100%;
}
#map{
  display: inline-block;
  width: 94%;
  height: 50%;
  border: 2px solid black;
}
